body {
    min-height: 100vh;
    background-color: RGB(252, 245, 229);
    display: flex;
    flex-direction: column;

}

#edit {
    padding-left: 20px;
    padding-right: 20px;
    color: RGB(255, 255, 240);

}


#like {
    color: RGB(255, 255, 240);
}

#delete {
    color: RGB(255, 255, 240);
}


.comments-section {
    background: RGB(255, 255, 240);
}

main {
    padding-left: 15px;
    padding-top: 15px;
    background: RGB(255, 255, 240);
    margin: 0;
    min-height: 100%;
    flex-grow: 1;
}

.btn {
    background-color: RGB(128, 0, 32);
}

.excerpt {
    font-weight: 500;
    font-size: 110%;
}

.card-body {
    background-color: RGB(255, 255, 240);

}

.readable-title {
    text-align: center;
    padding-bottom: 20px;
    text-decoration: underline;
}

.readable-content {
    font-weight: 500;
    font-size: 120%;
    padding-left: 5px;
    padding-right: 10px;

}

.garamond {
    font-family: "EB Garamond", serif;
    font-weight: 600;
    /*from 400-800*/
    font-style: normal;
    font-size: larger;
}

/*--------------------------------------General Styles-------*/

h1,
h2,
h3,
h4 {
    font-family: 'EB Garamond', serif;
    margin: 0;
}

p {
    font-family: 'EB Garamond', serif;
}




/*--------------------------------------Header-------*/

header {
    font-family: "EB Garamond", serif;
    font-weight: 500;
    font-size: x-large;
    margin: 0;
    position: sticky;
    top: 0;

}

.navbar {
    margin-bottom: 0px;
    padding: 0px;
    color: RGB(255, 255, 240);

}

.logo {
    height: 50px;
    width: 65px;
    padding-left: 5px;

}

.navbar-toggler {
    border: none;
}

header li {
    color: #f5721b;
}

.comment_submit_button {
    color: RGB(255, 255, 240);
}

.btn-signup {
    color: RGB(255, 255, 240);
}

.bg-color-navbar {
    background-color: RGB(128, 0, 32);
}

.nav-link {
    background-color: RGB(128, 0, 32);
    color: RGB(255, 255, 240);
    font-size: x-large;
}

#msg {
    background-color: RGB(128, 0, 32);
    color: RGB(255, 255, 240);
    font-size: larger;
    position: sticky;
    top: 0px;

}


footer {
    background-color: RGB(128, 0, 32);
    color: RGB(255, 255, 240);
    min-height: 30px;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "EB Garamond", serif;
    font-weight: 600;
    /*from 400-800*/
    font-style: normal;
}

.contact-details {
    padding-top: 8px;
}

.footer-item {
    padding: 16px;
    color: black;
}

.container-flex {
    display: flex;
    justify-content: flex-end;
}

.row {
    flex-grow: 1;
}

.contact-details {
    padding-top: 8px;
}

header,
footer {
    position: sticky;
}

footer {
    bottom: 0px;
}

.form {
    font-weight: 500;
    position: absolute;
    border-width: 2px;
    margin: 50px;
    border: 5px solid black;
    padding: 20px;
    border-radius: 25px;
    opacity: 100%;
    background-color: rgba(245, 114, 27, 0.95);
}

.button {
    text-align: center;
    border-radius: 2px;
    font-size: 100%;
    margin-top: 20px;
    padding: 15px 32px;
}

.btn {
    font-weight: 500;
    color: #000;
    background-color: rgba(151, 1, 97, 0.8);
    border: none;
}

.btn:hover {
    background-color: rgba(151, 1, 97, 1);
}

.fa-solid:hover {
    color: #2899c8 !important;
    transform: scale(1.15);

}

.entry-title {
    font-weight: 600;
}

.write-entry {
    display: flex;
    flex-direction: column;
}

.comments-section form,
form.site-form,
.write-entry form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.write-entry form textarea[name="content"] {
    flex-grow: 1;
}

.write-entry form textarea[name="excerpt"] {
    height: 60px;
}

.comments-section form input[type="submit"],
form.site-form input[type="submit"],
.write-entry form input[type="submit"] {
    margin-top: 10px;
}

#write-form {
    padding-right: 15px;
}

@media only screen and (max-width: 320px) {


    .navbar-brand {
        font-size: medium
    }

    .text-end {
        font-size: medium;
    }
}

@media only screen and (max-width: 400px) {

    .logo {

        padding-left: 2px;

    }

    .navbar-brand {
        font-size: medium
    }

    .text-end {
        font-size: medium;
    }

}



@media only screen and (max-width: 768px) {

    .comments-section form input,
    form.site-form input,
    .write-entry form input,
    .write-entry form textarea {
        padding: 10px;

    }
}


@media only screen and (min-width: 1024px) {

    .readable-content {
        column-count: 2;
        column-gap: 40px;
    }
}