{% extends "base.html" %}

{% block content %}
<div class="write-entry">
    <!-- Your write entry form or content goes here -->
    <h4>Please click submit to publish to the list of tales. From there you can read, and make edits if you
        wish.</h4>
    <form action="{% url 'entries:write' %}" class="site-form" method="post" enctype="multipart/form-data"
        id="write-form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" id="submit_write_button">


    </form>
</div>

<script src="/static/js/slugify.js"></script>
{% endblock %}