{% extends 'base.html' %}

{% block content %}

<form action="{% url 'entries:search_bar_w3_mypage' %}" method="get">
    {%csrf_token %}
    <input type="text" name="q" placeholder="Title or genre" id="searchbar">
    <button type="submit" id="searchbutton">Search</button>
</form>

<br>

<div class="entries"></div>
{% if entries %}
{% for entry in entries %}
<div class="entry entry-list">

    <span style="display: flex;">
        <a class="entry-title" href="{% url 'entries:entry_detail' slug=entry.slug %}">
            {{ entry.title }}
        </a>

    </span>


    <p class="entry-list excerpt">{{ entry.excerpt_with_ellipsis}}</p>
    {% if entry.status == 0 %}
    <p class="entry-list">Draft</p>
    {% elif entry.status == 1 %}
    <p class="entry-list">Published</p>
    {% endif %}
    <p class="entry-list"><em>{{entry.genre}}</em></p>

    <hr>


</div>

{% endfor %}
{% endif %}


{% endblock %}