{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="entry_detail">
    <div class="Entry">
        <h2>{{entry.title}}</h2>
        <p class="strong-font">{{entry.content}}</p>
        <p>{{entry.date}} </p>
        <p>{{entry.created_on}} </p>
        <p>Likes: {{entry.likes}}</p>
        <p>Written by {{entry.author}}</p>
    </div>
</div>

<form action="{% url 'entries_app:like_entry' entry_id=entry.id %}" method="POST">
    {%csrf_token %}
    <button type="submit" class="btn btn-primary btn-sm"><i class="fa-solid fa-thumbs-up"></i>
        <span>{{entry.likes}}</span></button>
</form>


{% endblock %}