{% extends 'base.html' %}

{% block content %}

<form action="{% url 'entries:search_bar_w3' %}" method="get">
    {%csrf_token %}
    <input type="text" name="q" placeholder="Title, author, or genre" id="searchbar">
    <button type="submit" id="searchbutton">Search</button>
</form>
<br>
<div class="entries"></div>
{% if entries %}
{% for entry in entries %}
<div class="entry entry-list">

    <span style="display: flex;">
        <a class="entry-title" href="{% url 'entries:entry_detail' slug=entry.slug %}">
            {{ entry.title }}
        </a>

    </span>

    <p class="entry-list excerpt">{{ entry.excerpt_with_ellipsis}}</p>
    <p class="entry-list">By {{entry.author}}. Published {{entry.created_on}}</p>
    <p class="entry-list"><em>{{entry.genre}}</em></p>

    <hr>


</div>

{% endfor %}
{% endif %}


{% endblock %}