{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="entry_detail">
    <!-- <img src="{{entry.thumb}}"/> -->
    <div class="Entry">
        <h2 class=readable-title>{{entry.title}}</h2>
        <p class="readable-content">{{entry.content}}</p>
        <p>Written by {{entry.author}}, {{entry.created_on}}</p>
    </div>
</div>

<form action="{% url 'entries_app:like_entry' entry_id=entry.id %}" method="POST">
    {%csrf_token %}
    <button type="submit" class="btn btn-primary btn-sm"><i class="fa-solid fa-thumbs-up"></i>
        <span>{{entry.likes}}</span></button>
</form>

<br>
<div class="comments-section">
    <div>Comments</div>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>

    <div>Comments List</div>
</div>

{% endblock %}