{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entries</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>Journal Entries</h1>
    <div class="entries"></div>
    {% for entry in entries %}
    <div class="entry">
        <h2><a href="#">{{entry.title}}</a> </h2>
        <p>{{ entry.excerpt_with_ellipsis}}</p>
        <p>{{entry.created_on}}</p>

    </div>

    {% endfor %}
    <p>Welcome to the entries page</p>
</body>

</html>