{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="entry_detail">
    <!-- <img src="{{entry.thumb}}"/> -->
    <div class="Entry">
        <h2 class=readable-title>{{entry.title}}</h2>
        <p class="readable-content">{{entry.content| safe}}</p>
        <p>Written by {{entry.author}}, {{entry.created_on}}</p>
    </div>
</div>

{% if user.is_authenticated and comment.author == user %}
<button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
{% endif %}

{% if user.is_authenticated %}
{% if user == entry.author %}

<!--<a href="url 'entries:EntryEdit'"><button type="submit" class="btn btn-primary btn-sm"><i
            class="fa-solid fa-trash fa-sm" style="color: #080808;"></i></button></a>-->
<form action="{% url 'entries:delete_entry' slug=entry.slug %}" method="POST">
    {%csrf_token %}
    <button type="submit" class="btn btn-primary btn-sm"><i class="fa-solid fa-trash fa-sm"
            style="color: #080808;"></i></button></form>

<form action="{% url 'entries:EditEntry' pk=entry.pk %}" method="GET">
    {%csrf_token %}
    <button type="submit" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square fa-sm"
            style="color: #030303;"></i></button></form>


{% endif %}
{% endif %}
<br>
<br>
<br>

<form action="{% url 'entries:like_entry' slug=entry.slug %}" method="POST">
    {%csrf_token %}
    <button type="submit" class="btn btn-primary btn-sm"><i class="fa-solid fa-thumbs-up"></i>
        <span>{{entry.likes}}</span></button>
</form>



<br>



</div>


<!-- Displaying count of comments -->
<div class="row comments-section">
    <div class="col-12">
        <strong class="text-secondary">
            <i class="far fa-comments"></i> {{ comment_count }}
        </strong>
    </div>
    <div class="col-12">

    </div>
</div>

<!--Edit section-->
<div class="edit">

</div>
<!-- Displaying Comments -->
<div class="row">
    <div class="comments-section col-md-8 card mb-4  mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">
            <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
            {% for comment in comments %}
            <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
                <p class="font-weight-bold">
                    {{ comment.author }}
                    <span class="font-weight-normal">
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                <div id="comment{{ comment.id }}">
                    {{ comment.content | linebreaks }}
                </div>
                {% if not comment.approved and comment.author == user %}
                <p class="approval">
                    This comment is awaiting approval
                </p>
                {% endif %}
            </div>
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
    </div>
    <!-- Creating New Comments -->
    <div class="comments-section col-md-4 card mb-4 mt-3">
        <div class="card-body">
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form id="commentForm" method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% else %}
            <p>Log in to leave a comment</p>
            {% endif %}
        </div>
    </div>
</div>
</div>

</div>
{% endblock %}