{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="intro-container">
    <p>Welcome to Talewrite, a vibrant hub for short story enthusiasts! Dive into a world of imagination where every
        tale
        unfolds with captivating characters and intriguing plots. Whether you're here to read enchanting stories or
        share
        your own literary creations, Talewrite offers a welcoming community for all storytellers and readers alike.
        Embark
        on your next literary adventure with us today!</p>

</div>

<script src="/static/js/slugify.js"></script>
{% endblock %}